<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>รายการของ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [(ngModel)]="selectedItemName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>ช่องเก็บของปัจจุบัน {{selectedItemSlotName}}</ion-label>
      </ion-item>
    
    <ion-list>
      <ion-item>
        <ion-label>ช่องเก็บของ</ion-label>
        <ion-select [(ngModel)]="selectedlocker">
          <ion-option *ngFor="let item of items" value="{{item._id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
    <ion-grid *ngIf="itemLog">
        <ion-row>
          <ion-col col-3>ผู้ยืม</ion-col>
          <ion-col col-3>พยาน</ion-col>
          <ion-col col-3>สถานะ</ion-col>
          <ion-col col-3>เวลา</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of itemLog.log">
            <ion-col col-3>{{item.actionBy}}</ion-col>
            <ion-col col-3>{{item.witnessBy}}</ion-col>
            <ion-col col-3>{{item.status}}</ion-col>
            <ion-col col-3>{{item.actionDate}}</ion-col>
          </ion-row>
      </ion-grid>
  
  <button ion-button color="secondary" (click)="Edit()">แก้ไข</button>
  <button ion-button color="danger" (click)="Delete()">ลบ</button>

</ion-content>
