<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>รายการของ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [(ngModel)]="selectedItemName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>ช่องเก็บของปัจจุบัน {{selectedItemSlotName}}</ion-label>
      </ion-item>
    
    <ion-list>
      <ion-item>
        <ion-label>ช่องเก็บของ</ion-label>
        <ion-select [(ngModel)]="selectedlocker">
          <ion-option *ngFor="let item of items" value="{{item._id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
  
  <button ion-button color="secondary" (click)="Edit()">แก้ไข</button>

</ion-content>
