<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ช่องเก็บของ</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <button ion-button block color="secondary" (click)="addNewSlot()">+ เพิ่มช่องเก็บของ</button>

    <div *ngIf="!items">
      Loading
    </div>

    <ion-list *ngIf="items">
        
        <ion-grid >
          <ion-row>
            <ion-col col-8>ชื่อช่องเก็บของ</ion-col>
            <ion-col col-2>แถว</ion-col>
            <ion-col col-2>สดมภ์</ion-col>
          </ion-row>
        </ion-grid>

        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
            <ion-grid >
              <ion-row>
                <ion-col col-10>{{item.name}}</ion-col>
                <ion-col col-1>{{item.row}}</ion-col>
                <ion-col col-1> {{item.col}}</ion-col>
              </ion-row>
            </ion-grid>
        </button>
      </ion-list>

</ion-content>
